# Data Collection
scrapy
beautifulsoup4
requests
feedparser

# NLP
transformers
spacy
torch
datasets
accelerate

# Dashboard
streamlit
plotly

# Scheduling
APScheduler==3.10.0

# PDF Processing
pdfplumber

# API
fastapi
uvicorn
gunicorn
python-dotenv
pydantic